@import '../abstracts/variables';
@import '~include-media/dist/include-media';

.header-container {
    background-color: $color-primary;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    @include media('<768px') {
        flex-direction: column;
    }
}
.header-divTwo {
    display: flex;
    flex-direction: row;
}
#date-input {
    border: none;
    color: black;
    width: 30%;
}
.header-nav {
    border: none;
    display: flex;
    align-items: center;
    @include media('<768px') {
        flex-direction: column;
    }
}

.tab-menu-div {
    display: none;
    @include media('<768px') {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}
#tab-menu-btn {
    display: none;
    @include media('<768px') {
        display: block;
        border: none;
        box-shadow: none;
        background-color: $color-primary;
        padding: 0;
    }
}
.menu-button {
    background-color: $color-gray1;
    color: $color-gray7;
    border-radius: 10px;
    padding: 5px;
    @include media('<768px') {
        border: none;
        margin: 0.4rem 0.4rem;
        text-decoration: underline;
        background-color: $color-primary;
        color: white;
        box-shadow: none;
    }
}

.menu-button:focus {
    background-color: black;
    color: white;
}

.logo-text {
    color: $color-logo;
    margin: 1rem 2rem;
    font-size: 3rem;
    font-weight: 900;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img {
    width: 8rem;
    height: 4rem;
}
