@import '../../abstracts/variables';
@import '../../abstracts/utils';
.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
#login-h1 {
    font-weight: bold;
}
