@import '../abstracts/variables';

//=== 공통 ===
button {
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
}

.btn-sm {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 10px;
}

.btn-md {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 5px 20px;
    margin: 20px 0;
    font-size: 1.6rem;
    width: 60rem;
}

//=== 하단 Fixed 버튼 ===
.btn-fixed {
    background-color: $color-primary;
    color: $color-white;
    border: 0;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 100px;
    width: 30rem;
    z-index: 999;
    justify-content: center;
    // align-items: center;
    // position: relative;
    // display: flex;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
        0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
        0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
        0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);
}

.plus-fixed {
    position: fixed;
    bottom: 20px;
    right: 200px;
    bottom: 50px;
    z-index: 999;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

//=== 빵빠레 버튼 ,,, ====
// * {
//     box-sizing: border-box;
// }

// body {
//     background-color: #f5f8ff;
//     font-family: 'Roboto', sans-serif;
//     line-height: 1.5;
//     min-block-size: 100vh;
//     display: grid;
//     place-items: center;
// }

// .button {
//     background-color: #404663;
//     color: #fff;
//     border: 0;
//     font-size: 2rem;
//     font-weight: 400;
//     padding: 0.5em 1.25em;
//     border-radius: 0.5em;
//     z-index: 999;
//     position: relative;
//     display: flex;
//     gap: 0.5em;
//     box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
//         0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
//         0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
//         0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);
// }

// .button:active {
//     transform: scale(1.01);
// }
