.dday-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-left: 2.3rem;

    #dday-text {
        width: 100%;
        margin: 0 1rem;
        // text-align: center;
    }

    #date-input {
        width: 60%;
        // margin: 0 1rem;
    }
}
