.dday-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    #dday-text {
        width: 100%;
        margin: 0 1rem;
        text-align: center;
    }

    #date-input {
        width: 60%;
        // margin: 0 1rem;
    }
}
