@import '../abstracts/variables.scss';
@import '../abstracts/utils.scss';

.modal-mission-add-container {
    width: 62%;
    height: 50%;
    border-radius: 10px;

    position: fixed;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.modal-mission-add-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    align-items: center;
    // position: relative;

    button {
        border-radius: 10px;
        width: 90%;
    }
}

.modal-mission-add-close-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.modal-style {
    width: 50rem;
    height: 40rem;
    z-index: 150;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    justify-content: center;
    overflow: auto;
    animation: modal-show 0.3s;
    padding: 2rem;
    background-color: white;
    // background-color: $color-gray2;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

@include fadeIn(modal-show);

.modal-mission-header {
    display: flex;
    width: 90%;
    align-items: center;
    gap: 4rem;
}

.modal-mission-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.modal-proof-input {
    margin: 2rem;
}

.modal-mission-list {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    width: 100%;

    ul {
        padding: 0;
        margin: 1rem 0;
    }
}

.modal-btn-done {
    margin: 3rem auto 0 auto;
}

//=== 미션 취소 모달 ===
.cancel-modal-description {
    color: $color-gray4;
}

.modal-cancel-header {
    display: flex;
    gap: 1rem;
}

.modal-cancel-title-container {
    display: flex;
    flex-direction: column;
}

.modal-mission-cancel-content {
    display: flex;
    flex-direction: column;
}

.mission-cancel-modal-mission-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        margin: 2rem 3rem;
    }
}

.modal-member-list-container {
    // background-color: $color-gray2;
    padding: 0 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-member-list-ul {
    li {
        padding: 1rem;
        border-radius: 14px;
    }
}

.mission-cancel-done-btn {
    width: 40%;
}

.mission-cancel-back-btn {
    width: 40%;
    background-color: $color-gray4;
}

.mission-cancel-btn-container {
    display: flex;
    justify-content: center;
}
