.title1 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.title2 {
    font-size: 36px;
    font-weight: bold;
}

.title3 {
    font-size: 32px;
    font-weight: bold;
}

.title4 {
    font-size: 28px;
    font-weight: bold;
}

.title5 {
    font-size: 20px;
    font-weight: bold;
}
