.title1 {
    font-size: 38px;
    font-weight: bold;
    padding: 20px;
}

.title2 {
    font-size: 32px;
    font-weight: bold;
}

.title3 {
    font-size: 28px;
    font-weight: bold;
}

.title4 {
    font-size: 24px;
    font-weight: bold;
}

.title5 {
    font-size: 18px;
    font-weight: bold;
}
