@import '../../abstracts/variables';

.mission-done-header {
    display: flex;
    gap: 9rem;

    // justify-content: space-between; // [추후] 임의
    background-color: transparent;
    // font-weight: bold; // [추후] 왜 안먹는거지 ;;
}

.mission-done-content {
    ul {
        display: flex;
    }

    li {
        justify-content: flex-start;
        width: 100%;
    }
}

.mission-done-list {
    display: flex;
}
