@import '../../abstracts/variables';
@import '../../abstracts/utils';

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 20rem;
    }

    button {
        width: 4rem;
        background-color: $color-gray4;
    }

    button:hover {
        transition: 0.4s all;
        background-color: $color-gray7;
    }
}

.group-container {
    width: 80%;
    height: 100vh;
    min-height: 80vh;
}

.groups {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

// .btn-fixed-wrapper {
//     display: flex;
//     justify-content: center;
// }

.groups-interested {
    label {
        height: 2rem;
    }

    margin-bottom: 1.6rem;
}

.search-group-container {
    width: 8rem;
    height: 8rem;
    background-color: $color-primary;
    border-radius: 1rem;
    color: white;
    padding: 2rem;
    margin: 2rem;
}
