$color-primary: #ed8d8d;
$color-warning: #e20606;

// 관심분야
$color-exercise: #ff6d59;
$color-reading: #ffcc77;
$color-language: #83cb77;
$color-IT: #ff7373;
$color-study: #7fbeeb;
$color-license: #f399ca;
$color-economy: #b78be3;
$color-etc: #c4c4c4; // gray3

// gray scale
$color-white: #fff;
$color-gray1: #f3f3f3;
$color-gray2: #d9d9d9;
$color-gray3: #c4c4c4;
$color-gray4: #acacac;
$color-gray5: #999999;
$color-gray6: #8f8c8c;
$color-gray7: #767676;
$color-black: #000;

// $animation-duration: 0.4s;

// $breakpoint-sm: 360px;
