@import '../abstracts/variables';
@import '../abstracts/utils';

.main1-div {
    width: 100%;
    .main-img-div {
        // background-color: azure;
        width: 100%;
        position: relative;
        .upload-img {
            // margin: 20px;
            width: 100%;
            height: 20vh;
        }

        .upload-img-icon {
            width: 36px;
        }

        label {
            cursor: pointer;
            z-index: 20;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        input {
            display: none;
        }
    }
}

.quotes {
    width: 70%;
    background-color: $color-gray2;
    margin: 2rem 2rem;
    span {
        font-size: 2rem;
    }

    .quotes-author-flex {
        display: flex;
        justify-content: flex-end;
        margin: 0 2rem;
    }
    .quotes-btn-flex {
        display: flex;
        justify-content: flex-end;
        margin: 0 2rem;
        button {
            background-color: $color-primary;
            color: $color-white;
            height: 2em;
        }
        img {
            width: 2em;
            height: 1em;
        }
    }
}
