@import '../abstracts/variables';
@import '../abstracts/utils';

.checked {
    text-decoration-line: line-through;
}

.mission-item-ul1 {
    background-color: $color-IT;
    // 그룹 별 색상 변경 가능한 코드 짜야
    margin: 10px 10px;
    padding: 20px 20px;

    border-radius: 20px;
    color: white;
}

.mission-item-ul2 {
    background-color: $color-exercise;
    // 그룹 별 색상 변경 가능한 코드 짜야
    margin: 10px 10px;
    padding: 20px 20px;

    border-radius: 20px;
    color: white;
}

.MissionList-header {
    display: flex;
    justify-content: space-between;
    .group {
        color: white;
        font-weight: 700;

        // background-color: aqua;
        // padding: 10px 10px;
        margin: 10px 10px;
    }

    .dDay {
        color: white;
        font-weight: 700;
        // background-color: bisque;
        // padding: 10px 10px;
        margin: 10px 10px;
    }
}

.no-button {
    display: none;
}

.is-checked-img {
    width: 20px;
}

.mission-all-container {
    height: 70vh;
}

.list-face {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    .list {
        width: 60%;
    }

    .face-div {
        width: 20%;
        .face-background {
            position: relative;
            justify-content: center;
            align-items: center;

            display: flex;
            // background-color: aqua;
            border-radius: 50%;
            width: 8em;
            height: 8em;
            margin: 10px 10px;
            .face {
                z-index: 20;
                width: 200px;
                img {
                    height: 165px;
                    // 왜 이미지 크기가 안 변하지
                }
            }
        }
        .progress-div {
            .my-progress {
                width: 100%;
                background-color: grey;

                .my-bar {
                    width: 30%;
                    height: 30px;
                    background-color: $color-IT;
                }
            }
        }
    }
}
