@import '../abstracts/variables';
@import '../abstracts/utils';

.edit-btn {
    @include box(25px);
    position: relative;
    left: -25px;
    top: -3px;
}
.edit-img {
    @include box(20px);
}
.selected-btn {
    border: none;
    border-radius: 15px;
    background-color: white;
}
.tag-btn {
    border: 1px solid #acacac;
    border-radius: 15px;
    background-color: white;
    color: #acacac;
    margin: 5px;
    width: 40px;
    height: 20px;
}
.inputArea {
    border: 'none';
    font-weight: 'bold';
    font-size: '30px';
    width: 300px;
}
.textArea {
    border: 'none';
    width: 300px;
    height: 100px;
}
.phrase-radio {
    opacity: 0;
}
.phrase-label {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #acacac;
    color: white;
    display: inline-block;
    font-weight: light;
    text-align: center;
}
.phrase-radio[type='radio']:checked + label {
    background-color: $color-primary;
    border-radius: 5px;
    color: #fff;
}

// setMain
.pin-img {
    @include box(20px);
}
.setDday-radio {
    opacity: 0;
}
.setDday-label {
    width: 30px;
    height: 40px;
}

.setDone-radio {
    opacity: 0;
}
.setDone-label {
    width: 30px;
    height: 40px;
}
// .setDday-radio[type='radio']:checked + label {
//     src: '/asset/icons/pin_fill.svg';
// }
