.edit-btn {
    width: 25px;
    height: 25px;
}
.edit-img {
    width: 20px;
    height: 20px;
}
.selectBtn {
    border: none;
    border-radius: 15px;
    background-color: white;
}
.selectBtn:focus {
    border: 2px solid #ed8d8d;
}
