@import '../abstracts/variables';
@import '../abstracts/utils';

@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

.err-section {
    background: $color-err-bg;
    color: $color-err-txt;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 0;
    font-family: IAMAPLAYER !important;
}
.errMsg-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}
.errMsg-div span {
    font-size: 30vh;
    transform: skewY(20deg);
    text-shadow: 5px 15px #e11299;
}

#err-btn {
    width: 100%;
    height: 70%;
    background-color: $color-err-txt;
    // color: #9400ff;
    color: whitesmoke;
    box-shadow: 5px 10px #e11299;
    font-size: 1.2em;
    // cursor: pointer;
    margin: 0;
    padding: 0;
    padding: 1rem;
    margin: 1rem 1rem;
    border-radius: 15px;
    border: none;
}

#err-btn:hover {
    transform: scale(1.2);
    background-color: whitesmoke;
    color: $color-err-txt;
}
